html {
  box-sizing: border-box
}


*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
}

body {
  /* background-color: rgb(190, 70, 70); */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}



.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  background: #b588ec;
}

.nav-link {
  display: inline;
  font-size: 10px;
}

a {
  text-decoration: none;
}

.nav-bar {
  color: white;
  font-size: 13px;
}

li {
  list-style: none;
  float: right;
  padding-right: 20px; 
}