html {
  box-sizing: border-box
}


*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
}

body {
  background: #bf96f2;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}



.heading {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 90% 10%;
  gap: 0px 0px;
  grid-template-areas: 
    "one two three three"
    "four four three three";
  align-items: center;
}

.card-layout {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.card {
  margin: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  background: rgba( 61, 70, 152, 0.25 );
  box-shadow: 0 6px 20px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
  border-radius: 10px;
  /* border-radius: 15px;
  background: #b588ec;
  box-shadow:  10px 10px 0px #a179d2,
             -10px -10px 0px #c997ff; */
}

.card-body {
  text-align: center;
  color: white;
}

.card-title {
  text-decoration: none; 
  color: white;
  font-size: 20px;
}

.price {
  font-size: 15px;
}

.author {
  text-decoration: none;
  color: white;
}

.details-btn {
  text-decoration: none;
  color: white;
  display: block;
}

.date {
  margin: 0;
}

.banner {
  background: white;
}

.page-item {
  list-style: none;
  border-radius: 2px;
  background: #b588ec;
  border: solid 2px whitesmoke;
  padding: 4px;
}

.page-link {
  text-decoration: none;
  justify-content: center;
  font-size: 15px;
  padding: 20px;
  color: whitesmoke;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img {
  max-width: 90px;
  max-height: 90px;
  margin-top: 5px;
}

.banner-img {
  max-width: 300px;
  max-height: 300px;
  grid-area: one;
  /* justify-content: center; */
  align-content: center;
}

.banner-heading {
 
  grid-area: four;
}

.banner-img-1 {
  max-width: 1000px;
  max-height: 600px;
  grid-area: three;
}