.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "one two three"
    "one two three"
    "one two three";

background: rgba(127, 97, 226, 0.45);
}

.wrap {
  grid-area: two;
  width: 80%;
  position: relative;
  top: 160px;
}

.mission {
  font-size: 45px;
}

.main {
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  
}

.wrap::after{
  content: "";
  display: block;
  width: 65%;
  height: 30px;
  margin-top: 15px;
  background: rgb(166, 164, 240);
}

.left-image {
  grid-area: one;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  top: 100px;
  display: flex;
  justify-content: center;
}

.right-image {
    grid-area: three;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 250px;
    display: flex;
    justify-content: center;
}

.img1, .img2 {
  height: fit-content;
  width: 90%;

}

