.container {  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "first second"
    "first fourth"
    "first sixth";
}

.container > main{
  grid-area: second;
  margin-left: 20px;
  margin-top: 20px;
  text-align: left;
}

.container >  article{
  grid-area: fourth;
  margin-left: 20px;
  width: 500px;
  text-align: left;
  font-size: 15px;
  line-height: 28px;
}

section {
  grid-area: sixth;
  margin-left: 20px;
}

form {
  display: inline;
}

.image {
  margin-top: 20px;
  grid-area: first;
  background-image: 
  url(laptop.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 2px;
  margin-left: 20px;
  max-width: 100%;
  height: auto;
}

.itemName {
  font-size: 35px;
}

.word {
  font-weight: bold;
  font-size: 15px;
}


.update-btn {
  display:inline-block;
  padding: 8px 10px;
  margin:0 0.3em 0.3em 0;
  border-radius:0.15em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  text-transform:uppercase;
  font-weight:400;
  color:#FFFFFF;
  background-color:#3369ff;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align:center;
  position:relative;
}

.delete-btn {
  display:inline-block;
  padding: 8px 10px;
  margin:0 0.3em 0.3em 0;
  border-radius:0.15em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  text-transform:uppercase;
  font-weight:400;
  color:#FFFFFF;
  background-color:#3369ff;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align:center;
  position:relative;
}