.container {  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "first second"
    "first fourth"
    "first sixth";
}

.container > main{
  grid-area: second;
  margin-left: 20px;
  margin-top: 20px;
  text-align: left;
}

.container >  article{
  grid-area: fourth;
  margin-left: 20px;
  width: 500px;
  font-size: 15px;
  text-align: left;
}

section {
  grid-area: sixth;
  margin-left: 20px;
}

form {
  display: inline;
}

.image {
  margin-top: 20px;
  grid-area: first;
  background-image: 
  url(laptop.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 2px;
  margin-left: 20px;
  height: auto;
  width: 500px;
  justify-content: center;
  align-items: center;
}

.itemName {
  font-size: 35px;
}