{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='./styles/info.css')}}" />

<div class="left-image">
    <img class="img1" src="../static/images/left-image.jpeg" alt="No Image">
</div>

        <div class="wrap">
            <h1 class="mission">Our Mission</h1>
            <p class="main">To reimagine commerce in ways that build a more fulfilling and lasting world. We are building a human, authentic and community-centric global and local marketplace.</p>
        </div>

<div class="right-image">
    <img class="img2" src="../static/images/right-image.jpeg" alt="">
    <!-- <span class="dot"></span> -->
</div>

    

{% endblock %}