{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='./styles/info.css')}}" />

<div class="left-image">
    <img class="img1" src="../static/images/left-image.jpeg" alt="No Image">
</div>

        <div class="wrap">
            <h1 class="mission">Our Mission</h1>
            <p class="main">Reduce Waste, increase happiness</p>
        </div>

<div class="right-image">
    <img class="img2" src="../static/images/right-image.jpeg" alt="">
</div>

    <span class="dot"></span>

{% endblock %}