{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='./styles/item.css')}}" />
<div class="jumbotron">
  <h2>Sold by: {{item.author.username}}</h2>
  <h3>Published: {{ item.date.strftime('%B %d, %Y') }}</h3>
  <h1>{{ item.itemName }}</h1>
  <p>Category: {{item.category}}</p>
  <h3>${{item.price}}</h3>
  <p>Condition: {{item.condition}}</p>
  <p>Size: {{item.size}}</p>
  <p>Description: {{item.itemDescription}}</p>
  <p>Buying Info: {{item.contactIfo}}</p>
   {% if item.author == current_user %}
     <div>
       <a class="update-btn" href="{{ url_for('items.update', item_id=item.id) }}">Update</a>
       <br>
       <form action="{{ url_for('items.delete_item', item_id=item.id) }}" method="POST">
        <input class="delete-btn" type="submit" value="Delete">
      </form>
     </div>
   {% endif %}
</div>
{% endblock content %}