{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='./styles/item.css')}}" />

  <main>
    <h2 class="name">Sold by: {{item.author.username}}</h2>
    <h3 class="date">Published: {{ item.date.strftime('%B %d, %Y') }}</h3>
    <h1 class="itemName">{{ item.itemName }}</h1>
    <h3 class="price">${{item.price}}</h3>
    <p class="category">Category: {{item.category}}</p>
  </main>
  
  <article>
    <p class="condition">Condition: {{item.condition}}</p>
    <p class="size">Size: {{item.size}}</p>
    <p class="description">Description: {{item.itemDescription}}</p>
    <p class="contact">Buying Info: {{item.contactIfo}}</p>
  </article>

   {% if item.author == current_user %}
    <div class="buttons">
       <a class="update-btn" href="{{ url_for('items.update', item_id=item.id) }}">Update</a>
       <br>
       <form action="{{ url_for('items.delete_item', item_id=item.id) }}" method="POST">
        <input class="delete-btn" type="submit" value="Delete">
      </form>
     </div>
   {% endif %}


{% endblock content %}